*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 97%;
    margin: 0 auto;
}
/* header style  */

header{
    width: 100%;
    background: purple;
    text-align: center;
    padding: 20px 0;
    color: #fff;
}
/* section css style  */

section{
    padding: 60px 0;
}

fieldset{
    padding: 10px;
}
.form-group{
    margin-bottom: 15px;
}
/* footer stytle  */

footer{
    width: 100%;
    padding: 20px 0;
    background: #8ecae2;
    text-align: center;
}